.heading {
  margin-top: 76px;
  text-align: center;
  font-size: 28px;
}

.heading h1 {
  font-weight: 700;
}

.form_wrapper {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 50px;
  margin-right: 35px;
  max-height: 100%;
  overflow: auto;
}

.form_btn {
  text-align: center;
}

.image_wrapper {
  width: 100%;
  min-height: 150px;
  max-height: auto;
}

.image_wrapper img {
  max-width: 100%;
  height: auto;
}
